SECRET_KEY=clave-secreta
DATABASE_URL=sqlite:///inventario.db

# Configuración de Correo (Ejemplo)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=correo-electronico-remitente
MAIL_PASSWORD=clave-de-aplicacion-del-correo
MAIL_DEFAULT_SENDER=correo-electronico-receptor

# Configuración de Jobs - Alerta Stock Bajo
JOB_ALERTA_STOCK_HORA=8
JOB_ALERTA_STOCK_MINUTO=30
JOB_ALERTA_STOCK_ACTIVO=true

# Configuración de Jobs - Informe General Mañana
JOB_INFORME_MANANA_HORA=1
JOB_INFORME_MANANA_MINUTO=8
JOB_INFORME_MANANA_ACTIVO=true

# Configuración de Jobs - Informe General Tarde
JOB_INFORME_TARDE_HORA=12
JOB_INFORME_TARDE_MINUTO=12
JOB_INFORME_TARDE_ACTIVO=true

# Configuración de Tasa de Cambio (USD a Bs)
TASA_CAMBIO_USD_BS=478
JOB_BACKUP_HORA=12
JOB_BACKUP_MINUTO=34
JOB_BACKUP_ACTIVO=true
FLASK_DEBUG=False
FORCE_HTTPS=False
